<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-hooks"
      version="0.9.6">

    <name>FirebaseHooks</name>
    <description>Cordova firebase plugin starter</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-hooks</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-hooks/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.5.0"/>
    </engines>

    <dependency id="cordova-plugin-cocoapod-support"/>

    <platform name="ios">
        <config-file parent="FirebaseAppDelegateProxyEnabled" target="*-Info.plist">
            <true />
        </config-file>

        <pods-config ios-min-version="7.0" uses-frameworks="true"/>

        <hook type="after_prepare" src="hooks/ios/copy-google-services.js" />
    </platform>

    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <hook type="after_prepare" src="hooks/android/copy-google-services.js" />
    </platform>

</plugin>
